@import "animations.scss";
// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* --**VARIABLES CSS**-- */
:root {
  // colors
  --frist-color: #000;
  --second-color: #fff;
  --bg-color: #3767ad;
  --bubbleColor: #eceff1;

  //font and typography

  --body-font: "Roboto", sans-serif;

  --biggest-font-size: 6rem;
  --big-font-size: 3rem;
  --huge-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;

  @media screen and (min-width: 968px) {
    --biggest-font-size: 5.5rem;
    --big-font-size: 3.5rem;
    --huge-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }

  //font weight
  --font-normal: 400;
  --font-semi: 500;

  //Margin
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  //z-index
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
/* --**BASIC**-- */

*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--bg-color);
  // color: var(--text-color);
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-weight: var(--font-semi);
  text-align: center;
}
h1 {
  margin: 0;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

img {
  max-width: 100%;
  height: auto;
  //display: block;
}

/* --**MAIN**-- */

.main {
  width: 375px;

  &__header {
    width: 275px;
    margin: 3rem 2.5rem 0 2.5rem;
    &-h1 {
      line-height: 5rem;
      font-size: var(--h1-font-size);
      color: var(--second-color);
    }
  }
}

/* --**WATER GLASS**-- */
.water-glass {
  margin-bottom: 4rem;
  position: relative;
  &__number {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--frist-color);
    font-size: var(--biggest-font-size);
    width: 150px;
    height: 130px;
    z-index: 1;
  }
}
/* --**BUTTONS**-- */
.btn {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  width: 215px;
  text-transform: uppercase;

  &--add {
    margin: var(--mb-2) 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: rgb(148, 11, 11);
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    font-weight: bold;
  }
  &--remove {
    margin-bottom: var(--mb-5);
    color: rgb(148, 11, 11);
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    font-weight: bold;
  }
}

/* --**FOOTER**-- */
.footer {
  opacity: 0.3;
}

@media screen and (min-width: 768px) {
  .water-glass {
    margin-top: 5rem;
  }
  .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--remove {
      margin-bottom: 0;
      cursor: pointer;
    }
    &--add {
      cursor: pointer;
    }
  }
}
