// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* --**VARIABLES CSS**-- */
:root {
  // colors
  --frist-color: #000;
  --second-color: #fff;
  --bg-color: #3767ad;
  --bubbleColor: #eceff1;

  //font and typography

  --body-font: "Roboto", sans-serif;

  --biggest-font-size: 3.5rem;
  --big-font-size: 3rem;
  --huge-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.75rem;

  @media screen and (min-width: 968px) {
    --big-font-size: 4.5rem;
    --biggest-font-size: 6rem;
    --huge-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }

  //font weight
  --font-normal: 400;
  --font-semi: 500;

  //Margin
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  //z-index
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
/* --**BASIC**-- */

*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--bg-color);
  // color: var(--text-color);
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-weight: var(--font-semi);
  text-align: center;
}
h1 {
  margin: 0;
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

img {
  max-width: 100%;
  height: auto;
  //display: block;
}
